@media(max-width:1285px){

    /* <!-- ---------- Left Side Start ---------- --> */

    .left h2{
        font-size: 20px;
    }

    .left p{
        font-size: 15px;
    }

    /* <!-- ---------- Left Side End ---------- --> */


    /* <!-- ---------- Right Side Start ---------- --> */

    .right_details .heading h1{
        font-size: 40px;
    }

    .right_details .heading p{
        font-size: 18px;
    }

    .right h2{
        font-size: 20px;
    }

    .right h4{
        font-size: 18px;
    }

    .right p, li{
        font-size: 15px;
    }


    /* <!-- ---------- Right Side End ---------- --> */
}


@media(max-width:1102px){

    .main{
        width: 80%;
    }
}


@media(max-width:965px){

    .main{
        width: 90%;
    }
}

@media(max-width:858px){

    .main{
        width: 100%;
    }
}


@media(max-width:772px){

/* <!-- ---------- Left Side Start ---------- --> */

.main{
    padding: 35px;
}

.left .left_first .img_container{
    width: 150px;
    height: 150px;
}

.left_first .img_container img{
    width: 150px;
    height: 150px;
}

.left h2{
    font-size: 18px;
}

.left p{
    font-size: 14px;
}

/* <!-- ---------- Left Side End ---------- --> */

/* <!-- ---------- Right Side Start ---------- --> */

.right{
    padding: 20px 20px 50px;
}

.right_details .heading h1{
    font-size: 30px;
}

.right_details .heading p{
    font-size: 16px;
}

.right h2{
    font-size: 18px;
}

.right h4{
    font-size: 16px;
}

.right p, li{
    font-size: 14px;
}

/* <!-- ---------- Right Side End ---------- --> */
    
}


@media(max-width:680px){

    /* <!-- ---------- Left Side Start ---------- --> */

    .main{
        padding: 25px;
    }

    .left h2{
        font-size: 15px;
    }

    .left p{
        font-size: 13px;
    }

    /* <!-- ---------- Left Side End ---------- --> */


    /* <!-- ---------- Right Side Start ---------- --> */

    .right{
        padding: 20px 20px 30px;
    }

    .right h2{
        font-size: 15px;
    }

    .right h4{
        font-size: 13px;
    }

    .right p, li{
        font-size: 13px;
    }
    
}


@media(max-width:586px){

    /* <!-- ---------- Left Side Start ---------- --> */

.left .left_first .img_container{
    width: 120px;
    height: 120px;
    border: 5px solid white;
}

.left_first .img_container img{
    width: 120px;
    height: 120px;
}

.left h2{
    font-size: 13px;
}

.left p{
    font-size: 11px;
}

.left .left_second{
    line-height: 20px;
}

/* <!-- ---------- Left Side End ---------- --> */

/* <!-- ---------- Right Side Start ---------- --> */

.right{
    padding: 20px 20px 20px;
}

.right_details .heading h1{
    font-size: 25px;
}

.right_details .heading p{
    font-size: 13px;
}

.right h2{
    font-size: 13px;
}

.right h4{
    font-size: 11px;
}

.right p, li{
    font-size: 11px;
}

.education .edu_main{
    padding: 8px 0px;
}

/* <!-- ---------- Right Side End ---------- --> */

}


@media(max-width:504px){

    /* <!-- ---------- Left Side Start ---------- --> */

.left h2{
    font-size: 11px;
}

.left p{
    font-size: 10px;
}

.personal_detail, .left_second, .left_thared{
    padding: 10px 0px;
}

.left .left_second{
    line-height: 15px;
}

.left_thared h2{
    padding-bottom: 5px;
}

.left_thared span{
    padding-bottom: 5px;
}
.left_thared span{
    font-size: 8px;
}

/* <!-- ---------- Left Side End ---------- --> */

/* <!-- ---------- Right Side Start ---------- --> */

.right{
    padding: 20px 20px 20px;
}

.right_details .heading h1{
    font-size: 22px;
}

.right_details .heading p{
    font-size: 11px;
}

.right h2{
    font-size: 11px;
}

.right h4{
    font-size: 9px;
}

.right p, li{
    font-size: 9px;
}

.right .declaration h2{
    padding-bottom: 0px;
}

/* <!-- ---------- Right Side End ---------- --> */

}


@media(max-width:448px){

/* <!-- ---------- Left Side Start ---------- --> */

    .left .left_first .img_container{
        width: 75px;
        height: 75px;
        border: 3px solid white;
    }

    .left_first .img_container img{
        width: 75px;
        height: 75px;
    }

    .left h2{
        font-size: 9px;
    }

    .left p{
        font-size: 8px;
    }

    .personal_detail, .left_second, .left_thared{
        padding: 5px 0px;
    }

    .left .left_second{
        line-height: 12px;
    }

/* <!-- ---------- Left Side End ---------- --> */

/* <!-- ---------- Right Side Start ---------- --> */

.right{
    padding: 15px;
}

.right_details .heading h1{
    font-size: 16px;
}

.right_details .heading p{
    font-size: 8px;
}

.right_details .profile, .education{
    padding: 5px 0px 0px;
}

.right_details .profile h2, .skills h2, .declaration h2, .education h2{
    padding: 5px 0px;
}

.right_details .skills{
    padding: 0px 0px 10px;
}

.education .edu_main{
    padding: 0px 0px 10px;
}

.right h2{
    font-size: 9px;
}

.right h4{
    font-size: 8px;
}

.right p, li{
    font-size: 8px;
}

/* <!-- ---------- Right Side End ---------- --> */

}
